
@{
    ViewBag.Title = "RegisterResult";
}

<div class="bg-3">
    <div class="header_1">
        <div class="form-horizontal block_1">
            <h2 class="title_1">會員註冊</h2>
            <hr>
            <div class="alert alert-success text-center">
                @TempData["RegisterState"]
            </div>
        </div>
    </div>
</div>
