@model WebApplication1.ViewModel.ItemViewModel

@{
    ViewBag.Title = "CatalogItem";
}

<div class="catalogLabel">
    <span class="glyphicon glyphicon-cutlery"></span>&nbsp;@ViewData["CatalogLabel"]
    <hr />
</div>

<div class="wrapper grid">
    @if (!Model.IdList.Count.Equals(0))
    {
        for (int i = 0; i < Model.IdList.Count; i++)
        {
            @Html.Partial("ItemBlock", Model.ItemBlock[i])
        }
    }
    else
    {
        <tr style="text-align:center;">暫無商品</tr>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

